header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  color: var(--color-dark-blue);
  background-color: var(--color-off-white);
}

header.dark {
  background-color: #222;
  color: #fff;
}

.logo {
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-dark-blue);
  font-size: 20px;
  font-weight: bold;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: var(--color-pink);
}

.btn-resumo {
  padding: 8px 16px;
  background-color: transparent;
  color: var(--color-pink);
  border-radius: 5px;
  border: 1px solid var(--color-pink);
  font-size: 20px;
  font-weight: 600; /* semi-bold */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.btn-resumo:hover {
  background-color: rgba(var(--color-pink), 0.14); /* 14% de opacidade */
  box-shadow: 0 4px 10px rgba(var(--color-pink), 0.3);
  transform: translateY(-2px); /* leve elevação */
}
