#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-dark-blue);
  background-color: var(--color-off-white);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
