:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color-dark-blue: #0e1f39;
  --color-black: #000000;
  --color-dark-gray: #313234;
  --color-light-gray: #b0b5bc;
  --color-off-white: #fff9f3;
  --color-pink: #ff31ad;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-dark-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-pink);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  min-height: 100vh; /* ocupa toda a tela */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* texto à esquerda */
  padding: 0 50px;
  position: relative;
}
